

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
}

:root {

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #14213d;
    color: white;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}

header h1 {
    font-size: 2.7rem;
    margin-bottom: 10px;
    color: #e56b6f;
    text-shadow: rgb(167, 146, 65) 1px 0 10px;
}

.form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    background: transparent;
}

#new-task {
    flex: 1 1 0%; 
    background-color: #b6585b;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 30px;
    opacity: 0.8;
    font-size: 20px;
    box-shadow: 5px 5px 10px #030303;
}

#new-task:hover {
    background-color: #e56b6f;
}

#new-task::placeholder {
    color: black;
    opacity: 0.5;
}

#new-task:focus { 
    outline: none;
}

#new-task-submit {
    color: pink;
    font-size: 25px;
    
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(231, 124, 144), rgb(233, 72, 217));
    padding: 5px;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
} 
#new-task-submit:hover {
    background-image: linear-gradient(to right, rgb(255, 146, 166), rgb(247, 57, 228));
    -webkit-transform: scale(1.1);
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 20px;
}

.task-list h2 {
    font-size: 25px;
    color: #e56b6f;
    text-shadow: rgb(167, 146, 65) 1px 0 10px;
    margin-bottom: 20px;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #0f0427;
    border-radius: 30px;
    margin-bottom: 20px;
}

#tasks .task .task-content {
    flex: 1 1 auto; 
}

#tasks .task .task-content .task-text {
    color: white;
    font-size: 1.125rem;
    display: block;
    transition: 0.4s;
    width: 90%;
    margin-left: 20px;
}

#tasks .task .task-content .task-text:focus {
    outline: none;
}

#tasks .task .task-content .task-text:not(:read-only) {
    color: rgb(128, 2, 2);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.6;
}

.task .actions button:active {
    opacity: 0.5;
}

.task .actions .edit-task {
    background-image: linear-gradient(to right, rgb(231, 124, 144), rgb(233, 72, 217));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.task .actions .delete-task {
    color: rgb(128, 2, 2);
}

.remove-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}


.btn {
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    background-color: #b6585b;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    color: rgb(210, 199, 199);
    box-shadow: 5px 5px 10px #030303;
    border: none;
}

.btn:hover {
    background-color: #e56b6f;
}